@import "tailwindcss";
@plugin "daisyui";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-fondo: #101526;
  --color-text-yellow: #e6ee54;
  --color-fondo-secondary: #0A0F1A;
}

html {
  background-color: var(--color-fondo);
  min-height: 100%;
}

.text-yellow {
    color: var(--color-text-yellow);
}

.bg-color-secondary {
    background-color: var(--color-fondo-secondary);
}