---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
---

<Layout>
  <Header />
  <Hero />
  <section class="px-12 lg:px-20 pt-17 bg-color-secondary text-center">
    <h2 class="text-5xl font-bold">
      <span class="drop-shadow-[0_0_13px_#FFD700] text-4xl"></span> Pulsos de energ铆a convertidos en impacto social
    </h2>
    <p class="mt-2 text-2xl">
      Te mostramos los proyectos que nos definen y representan nuestro trabajo
    </p>
  </section>
  <ProjectsSection
    imageUrl="/feria-collage.png"
    title="Feria Tabasco"
    text="Hemos colaborado con la gesti贸n de la venta de stands de la Feria Tabasco, un evento masivo realizado cada a帽o en la entidad. El sistema gestiona las solicitudes, los usuarios y su informaci贸n, generaci贸n de documentos, citas y reportes para los usuarios y administradores."
    highlight="false"
    liveUrl="https://comercializacionferia.tabasco.gob.mx/"
    tags={[
      "Colaboraci贸n",
      "Comit茅 de Feria",
      "Secretar铆a de Turismo",
      "Gobierno Estatal",
    ]}
    years={["2024", "2025"]}
  />
  <ProjectsSection
    imageUrl="/diconsa-collage.png"
    title="DICONSA Operaciones"
    text="Hemos colaborado en el desarrollo del sistema de Expediente de tiendas en la Direcci贸n de Operaciones de DICONSA el cu谩l gestiona la documentaci贸n general de la apertura y cierre de cada tienda registrada, registro digital de los movimientos de los productos como ma铆z y frijol. Un repositorio de archivos digitales masivo."
    tags={["Colaboraci贸n", "Diconsa S.A de C.V", "Gobierno Federal"]}
    years={["2023", "2024"]}
  />
  <ProjectsSection
    imageUrl="/sif-collage.png"
    title="Sistema Integral de los Fideicomisos (SIF)"
    text="Hemos colaborado en el desarrollo del sistema SIF, usado en SEDEC, hoy Secreter铆a de Turismo y Desarrollo Econ贸mico, el cu谩l sirve de apoyo para la gesti贸n de los fideicomisos para la poblaci贸n tabasque帽a, desde el registro y recepci贸n de documentos de los usuarios hasta la administraci贸n y seguimiento de cada solicitud de los tabasque帽os. Tambi茅n cuenta con un sistema de cursos en l铆nea integrado."
    highlight="false"
    liveUrl="https://sif.tabasco.gob.mx/"
    tags={[
      "Colaboraci贸n",
      "SEDEC",
      "Secretar铆a de Turismo",
      "Gobierno Estatal",
    ]}
    years={["2020", "2021", "2022", "2023", "2024", "2025"]}
  />
  <ProjectsSection
    facebookUrl="https://www.facebook.com/television.tabasquena/videos/606600596673637"
    title="LoQueSomos Tabasco"
    text="Sistema Desarrollado durante la pandemia COVID-19 con el prop贸sito de que las personas obtuvieran los productos y servicios que necesitaban incluso con servicio a domicilio, seg煤n aplicaba. En este sistema se registraron cientos de empresas de diversos giros que ofrec铆an sus servicios y productos a la poblaci贸n siendo as铆, en su momento, el mayor directorio de productos y servicios en la entidad."
    tags={["Colaboraci贸n", "SEDEC", "Gobierno Estatal"]}
    years={["2020", "2021", "2022", "2023"]}
  />
  <section class="w-full mx-auto p-20 text-center bg-black">
    <div class="flex flex-col items-center justify-center">
      <div class="mb-3 md:mb-6 group">
        <img
          src="/astronaut.png"
          class="w-40 h-40 md:w-56 md:h-56"
        />
      </div>
      <h3 class="text-6xl text-yellow font-extrabold drop-shadow-[0_0_20px_#FFD700]">
        Cont谩ctanos
      </h3>
    </div>
  </section>
  <Footer />
</Layout>
