---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Benefits from "../components/Benefits.astro";
import Services from "../components/Services.astro";
import TextDivider from "../components/TextDivider.astro";
TextDivider;
const title = "PulsarMex";
const description = "Creamos soluciones web de alta calidad que impulsan mipymes y gobierno";
const image = "/pulsarmex.webp";
---

<Layout {title} {description} {image}>
  <Hero />
  <section
    class="w-full mx-auto px-6 sm:px-10 lg:px-20 py-16 text-center bg-[#0C111A] border-t border-gray-800"
  >
    <h3
      class="text-3xl sm:text-4xl md:text-5xl font-extrabold text-white italic leading-tight"
    >
      Crear, Innovar, Im<span class="text-yellow font-extrabold pulsar"
        >Pulsar</span
      >
    </h3>
  </section>
  <Benefits />
  <section
    class="w-full mx-auto px-6 sm:px-10 lg:px-20 py-16 text-center bg-[#0C111A]"
  >
    <h3
      class="text-3xl sm:text-4xl md:text-5xl font-extrabold text-white italic leading-tight"
    >
      Base sólida, Noches tranquilas
    </h3>
  </section>
  <Services />
  <Projects />
  <section
    class="w-full mx-auto px-6 sm:px-10 lg:px-20 py-16 text-center bg-[#0C111A] border-b border-gray-800"
  >
    <h3
      class="text-3xl sm:text-4xl md:text-5xl font-extrabold text-white italic leading-tight"
    >
      Menos, bien hecho, es más
    </h3>
  </section>
  <Contact />
</Layout>
