---

---

<section class="px-6 sm:px-10 lg:px-20 py-16 bg-slate-100">
  <div
    class="card bg-gradient-to-b from-blue-700 to-[#0C111A] text-white px-6 sm:px-10 lg:px-20 py-14 sm:py-20"
  >
    <div
      class="max-w-6xl mx-auto flex flex-col md:flex-row items-center justify-between gap-12"
    >
      <!-- Texto -->
      <div class="w-full md:w-7/12 text-center md:text-left space-y-6">
        <h2 class="text-3xl md:text-5xl font-bold leading-tight">
          Estamos listos para impulsar tu proyecto
        </h2>
        <p class="text-base sm:text-lg text-gray-300 max-w-xl mx-auto md:mx-0">
          Escríbenos por WhatsApp y recibe atención personalizada sobre nuestras
          soluciones tecnológicas para mipymes e instituciones.
        </p>
        <a
          href="https://wa.me/529932794832"
          target="_blank"
          class="btn btn-xl bg-blue-700 rounded-lg"
        >
          Contáctanos
        </a>
      </div>

      <!-- Imagen -->
      <div class="w-full md:w-5/12 flex justify-center md:justify-end">
        <img
          src="/astronaut.png"
          alt="Astronauta"
          class="w-40 sm:w-56 md:w-72 lg:w-80 animate-float brightness-150 contrast-110 drop-shadow-xl md:-mr-10"
        />
      </div>
    </div>
  </div>
</section>
