---

---

<header
  class="navbar sticky top-0 z-50 bg-primary-color h-16 px-4 sm:px-6 md:px-8"
>
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 text-white"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-50 mt-3 w-60 p-2 shadow"
      >
        <li><a href="/#projects" class="text-lg">Lo que hacemos</a></li>
        <li><a href="/#contact" class="text-lg">Nuestros servicios</a></li>
        <li>
          <a href="https://wa.me/529932794832" target="_blank" class="text-lg"
            >Contáctanos</a
          >
        </li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl px-2" href="/">
      <img
        src="/logo_white_pulsarmex.svg"
        alt="Logo PulsarMex"
        class="w-auto max-w-[170px]"
        loading="eager"
      />
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/#projects" class="text-lg font-bold">Lo que hacemos</a></li>
      <li>
        <a href="/#contact" class="text-lg font-bold">Nuestros servicios</a>
      </li>
    </ul>
  </div>
  <div class="navbar-end hidden sm:flex">
    <a
      href="https://wa.me/529932794832"
      target="_blank"
      class="text-lg font-bold">Contáctanos</a
    >
  </div>
</header>
