---

---

<section class="container mx-auto px-6 sm:px-8 md:px-12 lg:px-30 h-full">
  <div class="text-center">
    <h1 class="md:text-6xl lg:text-7xl font-bold text-5xl py-5 mt-10">
      Creamos <span class="text-yellow drop-shadow-[0_0_10px_#FFD700]">&lt;soluciones web&gt;</span>
      <br /> de alta calidad
    </h1>
    <p class="text-3xl">que impulsan tu servicio/negocio o MIPYMES</p>
    <img src="/banner.webp" class="w-full lg:px-25 py-15" />
  </div>
</section>
<section class="w-full mx-auto px-15 pt-20 text-center bg-color-secondary">
  <div class="flex flex-col items-center justify-center">
    <div class="mb-3 md:mb-6">
      <img
        src="/logo_white_short_pulsarmex.svg"
        class="w-40 h-40 md:w-56 md:h-56"
      />
    </div>
    <h3 class="text-6xl font-bold">
      Crear, Innovar, Im<span class="text-yellow drop-shadow-[0_0_10px_#FFD700]">Pulsar</span>
    </h3>
  </div>
</section>
