---

---

<section class="container mx-auto px-6 sm:px-8 md:px-12 lg:px-30">
  <div class="text-center">
    <h1 class="text-5xl lg:text-7xl font-bold py-5 mt-10">
      Creamos <span class="text-yellow">soluciones web</span> 🚀 <br /> de alta calidad
    </h1>
    <p class="text-2xl">que impulsan tu servicio/negocio o MIPYMES</p>
    <img src="/banner.webp" class="w-full lg:px-25 py-15" />
  </div>
</section>
<section class="w-full mx-auto bg-color-secondary px-15 py-10 text-center">
  <div class="flex flex-col md:flex-row items-center gap-2 md:gap-4">
    <div class="md:w-1/2 text-center md:text-left me-5">
      <h2 class="text-6xl font-bold text-right">
        Crear, <br /> Innovar, <br /> Im<span class="text-yellow">Pulsar</span>
      </h2>
    </div>
    <div class="md:w-1/2 ms-5">
      <img
        src="/logo_white_short_pulsarmex.svg"
        alt="Descripción"
        class="w-48 h-48 md:w-64 md:h-64 mx-auto md:mx-0"
      />
    </div>
  </div>
</section>