---

---

<section class="w-full mx-auto p-20 text-center bg-black">
  <div class="flex flex-col items-center justify-center">
    <div class="mb-3 md:mb-6 group">
      <img
        src="/logo_white_short_pulsarmex.svg" loading="lazy"
        class="w-40 h-40 md:w-56 md:h-56 transition-all duration-1000 [filter:drop-shadow(0_0_50px_rgba(255,215,0,0.6))] group-hover:[filter:drop-shadow(0_0_70px_rgba(255,215,0,1))]"
      />
    </div>
    <h3 class="text-6xl font-extrabold text-white">
      Crear, Innovar, Im<span class="text-yellow font-extrabold pulsar"
        >Pulsar</span
      >
    </h3>
  </div>
</section>